
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1> Send Mail with asp.net Core</h1>
    <a href="/Sendmail/Index">Go to Mail </a>
</body>
</html>
